[submodule "packer-ubuntu-20.04"]
	path = packer-ubuntu-20.04
	url = https://github.com/olberger/packer-ubuntu-20.04.git
[submodule "Labtainers"]
	path = Labtainers
	url = https://github.com/olberger/Labtainers.git
